<h1>Modelos de produtos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Fornecedor</th>
  </tr>
  <% @product_models.each do |product_model| %>
    <tr>
      <td><%= product_model.name %></td>
      <td><%= product_model.supplier.fantasy_name %></td>
    <tr>
  <% end %>
</table>