<h1>Kits de produtos cadastrados</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <% @product_bundles.each do |product_bundle| %>
    <tr>
      <td><%= link_to product_bundle.name, product_bundle %></td>
    </tr>
  <% end %>
</table>