<h1>Categorias cadastradas</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category %></td>
    </tr>
  <% end %>
</table>