<h2><%= @category.name %></h2>

<h3>Modelos de produto</h3>

<table>
  <tr>
    <td>Nome</td>
    <td>Fornecedor</td>
  </tr>
  <% @category.product_models.each do |product_model| %>
    <tr>
      <td><%= product_model.name %></td>
      <td><%= product_model.supplier.fantasy_name %></td>
    </tr>
  <% end %>
</table>