<h3>Fornecedores cadastrados</h3>

<% if @suppliers.empty? %>
  <strong>Nenhum fornecedor cadastrado</strong>
<% else %>
  <table>
    <tr>
      <th>Nome Fantasia</th>
      <th>CNPJ</th>
    </tr>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to(supplier.fantasy_name, supplier_path(supplier.id)) %></td>
        <td><%= supplier.eni %></td>
      </tr>
    <% end %>
  </table>
<% end %>