<div class="row">
  <h2>Fornecedores cadastrados</h2>
</div>
<% if @suppliers.empty? %>
  <div class="row">
    <strong style="color:red;">Nenhum fornecedor cadastrado</strong>
  </div>
<% end %>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome Fantasia</th>
        <th scope="col">CNPJ</th>
        <% if user_signed_in? %><th scope="col">Ações</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= link_to(supplier.fantasy_name, supplier_path(supplier.id)) %></td>
          <td><%= supplier.eni %></td>
          <td><%= link_to 'Editar', edit_supplier_path(supplier.id), {id: "edit-#{supplier.id}", class: 'btn btn-warning'} if user_signed_in? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>